.brick {
    background-color: rgb(240, 240, 240);
    margin: 30px 20px 30px 20px;
    padding: 20px 20px 30px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 25%;
    /*height: 40%;*/
}

#logo {
    font: Georgia, 'Times New Roman';
    font-size: 50px;
    color: rgb(3,204,170);
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    
}
.right_select {
    float: right;
    width: 45%;
}
#intensity {
    float: left;
    width: 45%;
}
#timing {
    margin-right: 50px;
    float: left;
}

#days_detailed {
    float: left;
    margin-right: 50px;
}

#days_general {
    float: left;
    clear: right;
}

.point {
}

div.header {
    font-size: 20pt;
    text-decoration: bold;
    text-align: center;
    margin: 15px auto 15px auto;
    clear: right;
    width: 100%;
}

td.righty {
    text-align: right
}

ul
{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

div#up {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: rgb(200,200,200);
    clear: both;
}

#main {
    width: 100%;
    display: block;
}

#down {
    width: 100%;
    clear: both;
    padding-bottom: 50px;
}

#main {
    background-color: rgb(246,246,246);
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#summary {
    clear: both
}

input#submit-button {
    margin: 150px auto 50px auto;
    text-align: center;
   /* float: left;
   */
    cursor: pointer;
    outline: none;
    background-color: white;
    color: #3C3C46;
    display: block;
    float:none;
}

input#submit-button:hover {
    background-color: rgb(200,200,200);
    color: white;
}

textarea, select, input {
    color: #667;
    padding: 7px;
    border: 1px solid #CCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

